.section-container {
  width: min(1300px, calc(100% - 160px));
}
.title,
.para {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (max-width: 1400px) {
  .section-container {
    width: min(900px, calc(100% - 80px));
  }
}
@media only screen and (max-width: 900px) {
  .section-container {
    width: var(--cWidth);
    max-width: 100%;
  }
}
